<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HoppyBunny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BAFD05A1C69328A0088A764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAFD0721C69328A0088A764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BAFD07D1C69328A0088A764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
